
h1 {
  text-shadow: 2px 2px 2px grey;
  text-align: center;

}

#global{
    padding: 40px;
}

#div1 {
  float:left;
}

#div2 {
  margin-left:50%
}


#bouton {
  display: inline-block;
  padding: 11px 20px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 170px;
  margin-left: 60px;
  margin-right: 50px;
}

#bouton:hover {background-color: #3e8e41}

#bouton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
