#image{
	width : 100%;
}

body{
	background-image : url(./images/fond.jpg);
	background-color: #FFEBDC;
	margin-left: 0px;
	margin-top: 0px;
	font-family : Verdana, sans-serif;
}

#menu {
	width : 100%;
	font-size: large;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
	background-color: #DF7401;
}

#menu > li {
	width : 25%;
  float: left;
}

#menu > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#menu > li a:hover {
background-color: #CE571B;
}
