#imgMon {
    margin-left: 50px;
    margin-right: 50px;
    float:left;
    border-radius: 8px;
}

 
#bouton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 220px;
  margin-left: 125px;
  margin-right: 50px;
}

#bouton:hover {background-color: #3e8e41}

#bouton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


h1 {
	text-shadow: 2px 2px 2px grey;
}
