#recherche_Monument  tr {
    height: 35px;
    padding: 3px 10px;
}


#recherche_Monument td{
    color: Black;
    width: 40%;
    vertical-align: top;
    padding-top:5%;
    padding-left:7%;
}



h1 {
  text-shadow: 2px 2px 2px grey;
  text-align: center;

}

#bouton {
  display: inline-block;
  padding: 11px 20px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 170px;
  margin-left: 18%;
  margin-right: 50px;
}

#bouton:hover {background-color: #3e8e41}

#bouton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
